.footer {
    &-wrapper {
        max-width: @l;
    }

    &-container {
        margin-bottom: 1em;
    }

    &-listelement {
        margin-bottom: .5em;

        ul {
            margin-left: .5em;
            font-size: @font-xs;

            > li {
                margin-bottom: .25em;
            }
        }
    }

    .col-container {
        padding: 1em;

        .about {
            max-width: @s;
        }

        .logo {
            width: 50px;
        }
    }

    .copyright {
        &-container {
            .madewithlove {
                margin-bottom: 0; // overide default margin-bottom from p
            }

            .infos-container, .madewithlove {
                font-size: @font-xs;
                @media (max-width: @s) {
                    font-size: 2vw;
                }
            }
        }

        &-wrapper {
            padding: 2em 2em 0em 2em;
            max-width: @l;
        }
    }
}
