.footer {
    &-wrapper {
        max-width: @l;
    }

    &-container {
        margin-bottom: 1em;
    }

    &-listelement {
        ul {
            margin-left: .5em;
            font-size: @font-xs;
        }
    }

    .col-container {
        padding: 1em;

        .about {
            max-width: @s;
        }

        .logo {
            width: 50px;
        }
    }

    .copyright {
        &-container {
            .infos-container {
                font-size: @font-xs;
                @media (max-width: @s) {
                    font-size: 2vw;
                }
            }
        }

        &-wrapper {
            padding: 2em;
            max-width: @l;
        }
    }
}
