.footer {
    &-wrapper {
        max-width: @l;
    }

    &-subcontainer {
        margin-bottom: 1em;

        .col-container {
            padding: 1em;

            .about {
                max-width: @s;
            }

            .logo {
                width: 50px;
            }

            ul {
                margin-left: 0; // overide default value defined into selecteurs
            }
        }
    }

    &-listelement {
        margin-bottom: .5em;
    }
}
