.main-container {
    padding: 0 2em;

    &.-services {

        ul {
            list-style-type: square;
            margin-left: 1em;

            > li {
                margin-left: 1em;
            }
        }

        .button {
            margin-top: 1em; // same value than p selecteur
            margin-bottom: 2em;
        }

        .moreinformations-container {
            display: none;

            &.-show {
                display: block;
            }
        }
    }

    &.-team {
        .teammember-container {
            + .teammember-container::before {
                height: 1px;
                width: 100%;
                background-color: @blue;
                content: " ";
                margin-top: 2em;
                margin-bottom: 2em;
            }

            a {
                width: fit-content;
            }
        }
    }

    &.-contact {
        .icon {
            margin-right: .5em;
        }
    }

    &.-contact,
    &.-feesandlegalinformations,
    &.-services,
    &.-team {
        padding-top: 10em;
    }

    &.-feesandlegalinformations {
        ul {
            list-style-type: square;
            margin-left: 2em;
        }
    }
}
