.main-container {
    padding: 0 2em;

    &.-contact {
        .icon {
            margin-right: .5em;
        }
    }

    &.-contact,
    &.-feesandlegalinformations {
        padding-top: 10em;
    }

    &.-feesandlegalinformations {
        ul {
            list-style-type: square;
            margin-left: 2em;
        }
    }
}
