.link {
    &:hover {
        text-decoration: underline;
    }

    &.-black {
        color: @black;

        &:hover {
            color: @black;
        }
    }

    &.-underlined {
        text-decoration: underline;
    }

    &.-blue {
        color: @blue;

        &:hover {
            color: @blue;
        }
    }

    &.-white {
        color: @white;

        &:hover {
            color: @white;
        }
    }

    &.-sub {
        margin-left: .5em;
    }
}
